{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block content %}

<div class="container">
    <h1>Register</h1>
    <hr>

    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}

        {% if error %}
        <div class="alert alert-danger">
            {{error}}
        </div>
        {% endif %}

        <div class="row mb-2">
            <div class="col">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" value="{{username}}">
            </div>
        </div>

        <div class="row mb-2">
            <div class="col">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{email}}">
            </div>
        </div>

        <div class="row mb-2">
            <div class="col">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstname" name="firstname" value="{{firstname}}">
            </div>
            <div class="col">
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastname" name="lastname" value="{{lastname}}">
            </div>
        </div>
        <div class="row ">
            <div class="col">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" value="{{password}}">
            </div>
            <div class="col">
                <label for="repassword" class="form-label">Re-password</label>
                <input type="password" class="form-control" id="repassword" name="repassword" value="{{repassword}}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-3">Register</button>
    </form>

</div>

{% endblock %}